[user]
	name = Victor Arribas
	email = v.arribas.urjc@gmail.com

[alias]
treegraph = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
log4file = log --graph --full-history --all --no-color --pretty=tformat:"%h%x09%d%x20%s"
log4filestamp = log --graph --full-history --all --no-color --pretty=tformat:"%h%x09%ad%x09%d%x20%s" --date=short


[merge]
	ff = true
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
